* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

#background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #009688 20%, #DBDBD5 20%);
}

#container {
  width: 80%;
  height: 90%;
  display: flex;
  background-color: white;
}

#contacts {
  width: 40%;
  height: 100%;

}

#user {
  display: flex;
  height: 10%;
  background-color: #EAEAEA;
  border-right: 1px solid grey;
}
#user_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;

}
#user_avatar > img {
  height: 80%;
  border-radius: 50%;
}
#user_avatar > p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

#nav_user {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav_user > i {
  margin-right: 10px;
  color: #B1B1B1;
}

#notifications {
  height: 70px;
  background-color: #8EDAFD;
}

#notif_bell {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#notif_bell > i {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  color: #8EDAFD;
}

#notif_text {
  margin-left: 10px;
}
#notif_text h3 {
  font-size: 12px;

}
#notif_text p {
  font-size: 10px;
  text-decoration: underline;
  color: #6C97A5;
}

#search {
  height: 30px;
  background-color: #FAFAFA;
  line-height: 30px;
}
#search > input {
  width: 80%;
  padding: 5px 20px;
  border: none;
}
#search > i {
  margin-left: 10px;
  background-color: white;
  padding: 5px 20px;
  text-align: center;
  color: #D1C7C1;
}

.contact {
  display: flex;
  height: 70px;
  background-color: white;
  border-top: 1px solid #E9EBEB;
}

.avatar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: coral; */
}
.avatar > img {
  height: 100%;
  /* width: 100%; */
  border-radius: 50%;
  padding: 10px;

}

.contact_name {
  width: 80%;
  margin-top: 10px;
  /* background-color: pink; */
}

#last_message {
  font-size: 12px;
  color: lightgray;
}


/* ------------ */

#messages{
  width: 60%;
  height: 100%;
  background-color: lightblue;
}

#current_contact {
  height: 10%;
  display: flex;
  background-color: #EAEAEA;
}

#text_window {
  height: 80%;
  padding: 20px;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12ee6265-e947-474a-a378-6d78ab0d1117/d8fr7iz-082cab4c-3f87-47e1-b2f0-efdb504372e5.jpg/v1/fill/w_1024,h_576,q_75,strp/super_hero_whatsapp_background_by_x_ama_d8fr7iz-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NzYiLCJwYXRoIjoiXC9mXC8xMmVlNjI2NS1lOTQ3LTQ3NGEtYTM3OC02ZDc4YWIwZDExMTdcL2Q4ZnI3aXotMDgyY2FiNGMtM2Y4Ny00N2UxLWIyZjAtZWZkYjUwNDM3MmU1LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.vMsSrJL87xcHSN4_yT8cSlEGqymaknC5rvamCRrnlGU");
  background-size: cover;
}

#text_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  padding-top: 20px;
}

#messages_window {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#messages_window div {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

.sent {
  position: relative;
  padding: 10px;
  background-color: #D5F9BA;
}
.recived {
  align-self: flex-start;
  position: relative;
  padding: 10px;
  background-color: white;
}

.text {
  font-size: 12px;
}

.date {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 8px;
  color: #BEC9BA;
}

#send {
  height: 10%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: #F3EEEA;
}
#send > input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#current_avatar {
  width: 40%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#current_avatar > img {
  height: 80%;
  border-radius: 50%;
  margin-left: 10px;
}

#ultimo_accesso {
  font-size: 10px;
}

#current_user {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#current_user i {
  margin-right: 10px;
  color: #B1B1B1;
}
