<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>BoolZapp</title>
  </head>
  <body>
    <div id="background">
      <div id="container">
        <div id="contacts">
          <div id="user">
            <div id="user_avatar">
              <img src="https://i.pinimg.com/originals/4a/1f/76/4a1f76ca52bcb90ab2cb3343be8bb2ba.png" alt="">
              <p>User Name</p>
            </div>
            <div id="nav_user">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div id="notifications">
            <div id="notif_bell">
              <i class="fas fa-bell-slash"></i>
              <div id="notif_text">
                <h3>Ricevi notifiche di nuovi messaggi</h3>
                <p>Attiva notifiche desktop</p>
              </div>
            </div>
          </div>
          <div id="search">
            <i class="fas fa-search"></i>
            <input type="text" name="" value="" placeholder="Crea o inzia una nuova chat">
          </div>
          <div id="chatusers">
            <div class="contact" v-for="contact in contacts">
              <div class="avatar">
                <img :src="contact.avatar" alt="">
              </div>
              <div class="contact_name">
                <p><strong>{{ contact.name }}</strong></p>
                <p id="last_message">last message</p>
              </div>
            </div>
          </div>
        </div>


        <div id="messages">
          <div id="current_contact">
            <div id="current_avatar">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUH9wbHfLKLZ3cX50Atk1Imdb8VBR0erRJiA&usqp=CAU" alt="">
              <div id="current_info">
                <p id="nome">User Name</p>
                <p id="ultimo_accesso">Ultimo accesso oggi alle...</p>
              </div>

            </div>
            <div id="current_user">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div id="text_window">
            <div id="text_container">
              <div class="sent float-right">
                <div class="sent_message" v-if="item.status === 'sent'" v-for="item in contacts[0].messages">
                  <p class="text" >{{item.text}}</p>
                  <p class="date">data corrente</p>
                </div>
              </div>

              <div class="recived float-left" v-if="item.status === 'received'" v-for="item in contacts[0].messages">
                <div class="recived_message">
                  <p class="text">{{item.text}}</p>
                  <p class="date">22/10/2022 10:00:00</p>
                </div>
              </div>

            </div>
          </div>
          <div id="send">
            <i class="far fa-smile"></i>
            <input type="text" name="" value="" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
          </div>
        </div>

      </div>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
